<div id="<%= dom_id bus_trip %>">
  <p>
    <strong>Schedule:</strong>
    <%= bus_trip.schedule %>
  </p>

  <p>
    <strong>Origin:</strong>
    <%= bus_trip.origin %>
  </p>

  <p>
    <strong>Destination:</strong>
    <%= bus_trip.destination %>
  </p>

  <p>
    <strong>Number of passengers:</strong>
    <%= bus_trip.number_of_passengers %>
  </p>

  <p>
    <strong>Unit fare:</strong>
    <%= bus_trip.unit_fare %>
  </p>

  <p>
    <strong>Total fare:</strong>
    <%= bus_trip.total_fare %>
  </p>

  <p>
    <strong>Bus:</strong>
    <%= bus_trip.bus_id %>
  </p>

</div>
