<p style="color: green"><%= notice %></p>

<%= render @bus_trip %>

<div>
  <%= link_to "Edit this bus trip", edit_bus_trip_path(@bus_trip) %> |
  <%= link_to "Back to bus trips", bus_trips_path %>

  <%= button_to "Destroy this bus trip", @bus_trip, method: :delete %>
</div>
